[Service]
ExecStart=/opt/21-dvmn-star-burger/venv/bin/gunicorn -b 127.0.0.1:8080 star_burger.wsgi:application
Restart=always
WorkingDirectory=/opt/21-dvmn-star-burger/

[Unit]
After=nginx.service
Requires=postgresql.service

[Install]
WantedBy=multi-user.target
