[Service]
WorkingDirectory=/opt/21-dvmn-star-burger/
ExecStart=/opt/21-dvmn-star-burger/venv/bin/python manage.py clearsessions
Restart=on-abort

[Install]
WantedBy=multi-user.target
